@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&display=swap");
@import "tailwindcss";
@import "@heroui/styles";
@import "./themes/orcastrate.css" layer(theme);

:root {
	--font-bricolage-grotesque:
		"Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif;
	--font-sans: var(--font-bricolage-grotesque);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}
